[Unit]
Description=Flathunter Python Script
After=network.target

[Service]
User=ec2-user
ExecStart=~/.local/bin/pipenv run /usr/bin/python3 flathunt.py
WorkingDirectory=/home/ec2-user/tg_idealista_bot/idealista_bot
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=flathunter
Restart=always

[Install]
WantedBy=multi-user.target